/* App.css */

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.vh{
    height: 65vh; /* 100% de la altura del viewport */
    width: 70vh;    
}
  
body {
    font-family: 'Press Start 2P', cursive;
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    height: 100vh; /* 100% de la altura del viewport */
    background-image: url('./assets/img/background.jpg'); /* Ruta correcta a tu imagen de fondo */
    background-size: cover; /* Cubre toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No se repite la imagen de fondo */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.ul-margin{
  margin-left: -40px;
}

.volver-link {
  position: sticky;
  bottom: 10px;
  right: 10px;
  text-align: right;
  opacity: 40%;
}

.volver-link:hover,
.volver-link:focus,
.volver-link:active {
  opacity: 100%;
}

.nes-list.is-circle li::before {

  color: white !important;
 
}

/* Estilo del scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* Estilo del thumb (la parte que puedes arrastrar) */
::-webkit-scrollbar-thumb {
  background-color: gray; /* Color del thumb */
  border: 2px solid white; /* Borde del thumb */
  border-radius: 6px; /* Bordes redondeados */
}

/* Estilo del track (la parte del fondo del scrollbar) */
::-webkit-scrollbar-track {
  background-color: #333; /* Color del fondo del track */
  border-radius: 8px; /* Bordes redondeados */
}
/* Estilos para pantallas pequeñas (teléfonos móviles) */
@media only screen and (max-width: 600px) {
    .vh{
        height: 70vh; /* 100% de la altura del viewport */
        width: 45vh;    
    }
    .volver-link{
        position: sticky;
    }    
    .nes-container.is-dark {
        margin: -10px;
    }    
    p{
      font-size: 13px;
    }

    li{
      font-size: 15px;
    }

    ol, ul {
        padding-left: 1rem;
    }
    .contenido{
      margin: -15px;
    }

    .two-line-paragraph {
      font-size: 14px; /* Tamaño del texto */
      line-height: 1.1; /* Espaciado entre líneas */
      max-height: 5.2em; /* Altura máxima de dos líneas (2 * line-height) */
      overflow: hidden; /* Oculta el contenido adicional si excede la altura máxima */
    }    

    body {

        background-size: auto;
    }   

  .volver-link {
    opacity: 100%;
  }     
  }
  
  /* Estilos para pantallas medianas (tabletas) */
  @media only screen and (min-width: 601px) and (max-width: 992px) {
    /* Agrega tus estilos aquí */
  }
  
  /* Estilos para pantallas grandes (monitores de escritorio) */
  @media only screen and (min-width: 993px) {
    /* Agrega tus estilos aquí */
  }
  
  /* Estilos para pantallas muy pequeñas (por ejemplo, relojes inteligentes) */
  @media only screen and (max-width: 320px) {
    /* Agrega tus estilos aquí */
  }
  
  /* Estilos para pantallas de alta resolución (retina, etc.) */
  @media only screen and (min-resolution: 2dppx) {
    /* Agrega tus estilos aquí */
  }
  
@media (min-width: 768px){
  .offset-md-3 {
      margin-left: 22%;
  }
}